<nav class= "navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Routing</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/hello" routerLinkActive= "active">Hello</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bye" routerLinkActive= "active">Bye</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ciao" routerLinkActive= "active">Ciao</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/salut" routerLinkActive= "active">Salut</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/chart" routerLinkActive= "active">Chart</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
    </ul>
  </div>
</nav>
<div class="containter">
  <router-outlet></router-outlet>
</div>
